 # Variables and Datatypes <hr style = "border: 2.5px solid #C9A9A6"></hr>

Data Analyst: Hannah Ibanez <br>
Department: Electrical Engineering

In [70]:
apple = 400
apple

400

In [71]:
type (apple)

int

In [72]:
pie = 3.14
pie

3.14

In [73]:
type (pie)

float

In [74]:
grade = 'A'
grade

'A'

In [75]:
type (grade)

str

In [76]:
is_active = True
is_active

True

In [77]:
message = "Hello, World!"
message

'Hello, World!'

In [78]:
type (message)

str

In [79]:
fruits = ["apple", "orange", "grapes"]
fruits

['apple', 'orange', 'grapes']

In [80]:
type (fruits)

list

In [81]:
fruits [1]

'orange'

In [82]:
fruits [1] = "mango"

In [83]:
fruits

['apple', 'mango', 'grapes']

In [84]:
fruits = ("apple", "orange", "grapes")
fruits

('apple', 'orange', 'grapes')

In [85]:
type (fruits)

tuple

In [86]:
fruits [0]

'apple'

In [87]:
fruits [0] = "mango"

TypeError: 'tuple' object does not support item assignment

In [ ]:
employee = {"name" : "Ada", 
            "age" : 25, 
            "city" : "New York"}
employee

{'name': 'Ada', 'age': 25, 'city': 'New York'}

In [ ]:
type (employee)

dict

In [ ]:
employee ["age"]

25

In [ ]:
employee ["age"] = 30

In [ ]:
employee

{'name': 'Ada', 'age': 30, 'city': 'New York'}