# for Loop <hr style = "border: 2.5px solid #C9A9A6"></hr>

Data Analyst: Hannah Lyrane P. Ibanez <br>
Department: Electrical Engineering

# Iterating Over a List

In [4]:
# at index 0, i = 'apple'
fruits = ['apple',"orange","grapes",5]
for i in fruits:
    print (i)

apple
orange
grapes
5

In [5]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for n in numbers:
    print (n)

1
2
3
4
5
6
7
8
9
10

In [11]:
for j in range (1,10,2):
    print (j)

1
3
5
7
9

# Iterating Over a Dictionary

In [13]:
for char in "Python":
    print (char)

P
y
t
h
o
n

In [17]:
employee = {
    "name" : "Ada",
    "position" : "analyst",
    "salary" : 80000
}
for key in employee:
    print (key)

for value in employee.values():
    print(value)

name
position
salary
Ada
analyst
80000